body {
    align-items: center;
    justify-content: center;
}
@media screen and (min-width: 1080px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        --primary-color: #FFFFFF;
        --secondary-color: #D9D9D9;

    }

    .container {

        background-color: darkred;
        float:right;
        min-height: 100vh;
        margin-left: 10%;

        font-family: Montserrat, sans-serif;
        color: #191919;
    }

    nav a {
        font-size: 40px;
        color: #fff;
        text-decoration: none;
        padding: 20px;
        text-align: center;
    }

    nav {
        position: fixed;
        display: flex;
        left: 0;
        z-index: 50;
        justify-content: space-around;
        flex-direction: column;
        height: 100vh;
        background: var(--secondary-color);
    }

    section {
        top: 0;
        height: 100vh;
        width:80%;

        color: #191919;
        opacity: 0;
        transition: all ease-in .5s;
        /*justify-content: start;*/
        /*align-items: start;*/
    }

    section h1 {
        color: #fff;
        font-size: 50px;
        text-transform: uppercase;
        opacity: 0;
    }

    /* Styles applied on trigger */
    section:target {
        opacity: 1;
        position: absolute;
        left: 0;
        width: 90%;
        padding:2%;
        float: right;
        margin-left: 10%;
        height: 100%;
        z-index: 10;
    }

    section:target h1 {
        opacity: 0;
        animation: 2s fadeIn forwards .5s;
    }

    #Dashboard {
        background: var(--primary-color);

    }


    .SearchInput {
        margin: 2% 4%;
        width: 25%;
        height:40px;
        background-color:#D9D9D9 ;
        border:none;
        border-radius: 30px;
        outline: none;
        font-size: 15px;
        padding-left: 2%;
    }
    .SearchInput::placeholder {
        color: #717171;
        font-size: 15px;
        font-weight: bold;
    }
    aside{
        position: absolute;
        right:0;
        background-color: red;
    }

    #Locations {
        background: var(--primary-color);
    }

    #History {
        background: var(--primary-color);
    }

    #Profile {
        background: var(--primary-color);
    }

    @keyframes fadeIn {
        100% {
            opacity: 1;
        }
    }

    #currentUsername{
        color:#717171;
        float:right;
        margin:1%;
        font-size: 20px;
    }
    a{

    }
    h3{

    }
    div{
        color:#717171;
    }
}