* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}
nav a {
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
    width:100%;
}
:root {
    --primary-color: #FFFFFF;
    --secondary-color: #D9D9D9;

}

nav {
    position: fixed;
    display: flex;
    width:7%;

    left: 0;
    z-index: 50;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
    background: var(--secondary-color);
}
#currentUsername{
    color:#717171;
    float:right;
    margin:1%;
    font-size: 20px;
}
#container {
    width: 70%;
    border:2px solid black;
    float: right;
    margin-left: 10%;
    margin-top: 5%;
    border-radius: 10px;
    padding: 3%;
}



#LeftP{
    width: 30%;
    margin-right: 3%;
    height: fit-content;
}
#RightP{
    width: 100%;
    text-align: start;
    marging-left: 4%;
}
#offerImage{
    width: 100%;
    border-radius: 30px;
}
#divs{
    width: 100%;
    margin-bottom: 3%;
}
#divs p{
    color: #BF2051;
}
#orderButton{
    background-color: #BF2051;
    color: white;
    border-radius:30px;
    margin-top: 5%;
    width: 30%;
    font-size: 20px;
    padding:3%;
    text-align: center;
    align-items: center;
    align-content: center;
    border:none;
    cursor : pointer;
}
br{
height: 20px}
#Details{
    display: none;
    margin-top: 10%;
    border-radius: 30px;
    padding:1%;
    height:fit-content ;
    background-color: #DEDEDE;
}
#Details form{
    padding: 3%;
    height:fit-content ;
    background-color: #DEDEDE;
}

#Details table{
width: 100%;
}
#Details input{
    width: 80%;
    height: 30px;
    outline: none;

}
#Details select{
    width:80%;
    height:30px
}
.BookB{
    width:95%;
    margin-top: 2%;
    height: 40px;
    border:none;
    background-color: #BF2051;
    color: white;
    border-radius: 30px;
    font-size: unset;
}.BookB:hover{
    width:95%;
    margin-top: 2%;
    height: 40px;
    border:none;
    background-color: white;
    color:#BF2051 ;
     cursor: pointer;
    border-radius: 30px;
    font-size: unset;
}
 .message{
     text-align: center;
     margin: 2%;
     color: red;
 }